.fire-nav { height: 5.5rem; background-color: #fff; border: .05rem solid #dedede; }
.fire-nav .title { height: 5.5rem; line-height: 5.5rem; font-size: 1.6rem; color: #333; }
.fire-nav .icon.pull-left { line-height: initial; padding: 1.0rem .1rem 1.1rem; }
.fire-nav .icon.pull-right { line-height: initial; padding: 1.9rem 2.1rem 2.0rem; right: -.5rem; }
.fire-nav .icon.icon-left { font-size: 2.0rem; color: #333; padding-top: 1.75rem; padding-bottom: 1.75rem; }
.fire-nav .icon.pull-left img { height: 3.4rem; display: block; }
.fire-nav .icon.pull-right img { height: 1.6rem; display: block; }
.content { top: 0rem; padding-top: 5.5rem; }
/*.fire-content { padding-top: 5.5rem; }*/
.fire-content .banner img { display: block; width: 100%; }
.fire-content .fire-text { text-align: center; }
.fire-content .fire-text h3 { font-size: 2rem; color: #333; }
.fire-content .fire-text p { font-size: 1.7rem; color: #666; }
.fire-content .fire-text h4 { font-size: 1.8rem; color: #666; }
.fire-content .fire-btn { padding: 2.8rem 0; }
.fire-content .fire-btn a { display: block; width: 9.7rem; height: 3.3rem; text-align: center; line-height: 3.3rem; margin: 0 auto; border:1px solid #d4af31; background-color: #fff; font-size: 1.6rem; color:#9f7d08; }
.fire-join { padding: 3.5rem 2.0rem; background-color: #f3f4f6; margin-top: 3.4rem; }
.fire-join h1 { text-align: center; font-size: 2.0rem; color: #333; margin: 0; }
.fire-join dl { text-align: center; font-size: 1.3rem; color: #666; }
.fire-join dl dt { width: 4.3rem; height: 4.3rem; line-height: 4.3rem; border:2px solid #525252; border-radius:100%; margin: 0 auto; }
.fire-join dl dt img { vertical-align: middle; }
.fire-join dl dd { margin: 0; font-size: 1.3rem; color: #666; margin-top: 1.25rem; }
.fire-link { padding: 0 2.0rem; }
.fire-link dt { font-size: 1.1rem; color: #333; padding-bottom: 1.4rem; border-bottom: 1px solid #d8d8d8; }
.fire-link dd { font-size: 1.1rem; color: #999; margin: 0; }
.fire-link dd span { font-size: 1.1rem; color: #b4b4b4; }
.fire-copy { font-size: 1.0rem; color: #b4b4b4; padding: 1.0rem 3.0rem; background-color: #f4f4f4; }
.hide-nav { position: absolute; top: 5.5rem; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 99999; display: none; }
.hide-nav ul { list-style: none; text-align: center; background-color: #fff; margin: 0; padding: 0; }
.hide-nav ul li { border-bottom: 1px solid #dedede; }
.hide-nav ul a { display: block; padding: 1.5rem 0; font-size: 1.5rem; color: #999; }
.hide-nav ul li.on a { font-size: 1.5rem; color: #333; font-weight: bold; }

.fire-plan-text { width: 95%; margin: 0 auto; background:#ffffff; box-shadow:2px 2px 6px 0 rgba(161,161,161,0.50); padding: 3.5rem 5.0rem; position: relative; top: -1.5rem; }
.fire-plan-text .plan-icon1 { background: url(../images/plan/D4468355-FC5F-49C3-944A-57244E651AA0@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text .plan-icon2 { background: url(../images/plan/3242D61C-F09F-43EC-9396-CA77982C560D@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text .plan-icon3 { background: url(../images/plan/899B1598-30F4-429F-A5D9-593870C8E937@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text .plan-icon4 { background: url(../images/plan/1468E0D1-1E37-4919-BAB9-DBC38F02AE46@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text .plan-icon5 { background: url(../images/plan/6BA3A96A-F91E-495F-8D0B-C143DCE7B346@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text .plan-icon6 { background: url(../images/plan/86C20391-728C-4BF1-A0E5-FF2BF978DD28@2x.png) no-repeat left center; text-align: left; background-size: 2.0rem; padding-left: 3.0rem; }
.fire-plan-text h4 { position: relative; }
.fire-plan-text h4:before { content: ''; width: 8.0rem; height: .1rem; background: url(../images/plan/6FE9E57B-FC51-443F-B8EB-1EE5E3079F5D@2x.png) no-repeat center; position: absolute; left: 0; top: 50%; margin-top: -.05rem; }
.fire-plan-text h4:after { content: ''; width: 8.0rem; height: .1rem; background: url(../images/plan/7DE2B70C-A3D0-4899-AB29-65B4C06B3C9D@2x.png) no-repeat center; position: absolute; right: 0; top: 50%; margin-top: -.05rem; }


.explain-join { background-color: transparent; }
.explain-join .explain1 { width: 10.5rem; height: 11.9rem; background: url(../images/explain/ABD90C13-04A9-46A9-B06D-74E29869708C@2x.png) no-repeat center; margin: 0 auto; background-size: cover; margin-top: 3.0rem; }
.explain-join .explain2 { width: 10.5rem; height: 11.9rem; background: url(../images/explain/79F95B7E-BCD9-4FD3-A4E2-C59D04BA443C@2x.png) no-repeat center; margin: 0 auto; background-size: cover; margin-top: 3.0rem; }
.explain-join .explain3 { width: 10.5rem; height: 11.9rem; background: url(../images/explain/CB7D9CBE-B1DE-4C0D-A087-5785B6034232@2x.png) no-repeat center; margin: 0 auto; background-size: cover; margin-top: 3.0rem; }
.explain-join .explain4 { width: 10.5rem; height: 11.9rem; background: url(../images/explain/BCAD99F3-87DA-4DB3-8C90-FAC39AC7C85D@2x.png) no-repeat center; margin: 0 auto; background-size: cover; margin-top: 3.0rem; }
.explain-join dl { margin-top: 3.0rem; }
.explain-join dl dt { border: none; padding-top: 3.0rem; }
.explain-join dl dd { font-size: 1.4rem; color: #fff; margin-top: 3.5rem; }
.explain-list dl { margin: 2.25rem 0 0; }
.explain-list dt { font-size: 1.5rem; color: #333; font-weight: bold; }
.explain-list dd h4 { font-size: 1.2rem; color: #333; font-weight: normal; margin: 1.0rem 0; }
.explain-list dd p { margin: 0; line-height: 2.1rem; }

.income-content h1 { text-align: center; font-size: 2.0rem; color: #333; }
.income-content h2 { text-align: center; font-size: 1.3rem; color: #999; }
.income-content dl { padding: 1.4rem 2.0rem; }
.income-content dt { float: left; color:#6ac068; font-size: 3.4rem; }
.income-content dd { margin-left: 5.0rem; }
.income-content dd h6 { color:#333; font-size: 1.6rem; margin: 0; }
.income-content dd p { color:#989898; font-size: 1.3rem; margin: 0; margin-top: .9rem; }
.flex-content dl { margin: 0; padding: 1.4rem 2.0rem; }
.flex-content dt { float: none; display: inline-block; width: 8.9rem; height: 8.9rem; border-radius: 50%; background-color: #fff; }
.flex-content dt img { width: 7.8rem; display: block; margin: .5rem auto 0; }
.flex-content dd { float: none; display: inline-block; font-size: 1.5rem; color: #333; margin-left: 0; vertical-align: top; padding: 1.0rem 2rem 0; position: relative; }
.flex-content dd span { font-size: 2.0rem; color: #c8c8c8; position: absolute; left: 0; top: 0.8rem; }
.object-content h2 { position: relative; padding-bottom: 2.0rem; }
.object-content h2:after { content: ''; width: 80%; height: .05rem; background: #cecece; position: absolute; bottom: 0; left: 50%; margin-left: -40%; }
.object-content dt { float: none; color:#54a642; font-size: 3rem; text-align: center; }
.object-content dd { margin-left: 0; text-align: center; font-size: 1.4rem; color: #666; }


.joinus-content h1 { text-align: center; font-size: 2.0rem; color: #333; position: relative; }
.joinus-content h1:before { content: ''; width: 8.0rem; height: .1rem; background: url(../images/plan/6FE9E57B-FC51-443F-B8EB-1EE5E3079F5D@2x.png) no-repeat center; position: absolute; left: 3.5rem; top: 50%; margin-top: -.05rem; }
.joinus-content h1:after { content: ''; width: 8.0rem; height: .1rem; background: url(../images/plan/7DE2B70C-A3D0-4899-AB29-65B4C06B3C9D@2x.png) no-repeat center; position: absolute; right: 3.5rem; top: 50%; margin-top: -.05rem; }
.joinus-content h2 { text-align: center; font-size: 1.3rem; color: #999; }
.joinus-content dl { padding: 0 1.7rem; }
.joinus-content dt { font-size: 1.4rem; color: #333; margin: 1.0rem 0; }
.joinus-content dd { width: 100%; margin-left: 0; }
.joinus-content dd input[type="text"],.joinus-content dd select { width: 100%; height: 3.6rem; border-radius: .25rem; border:1px solid #37a338; font-size: 1.2rem; color: #999; text-indent: .25rem; }
.joinus-content dd select { /*appearance:none; -webkit-appearance:none;*/ /*background: url("../images/C119A397-7C19-48C0-9B41-7053563A7E00@1x.png") no-repeat scroll 97% center transparent;*/ }
.joinus-content dd .col-50 { padding-top: 1.5rem; }
.joinus-content dd label { font-size: 1.3rem; color: #666; }
.joinus-content dd input[type="checkbox"] { width: 1.6rem; height: 1.6rem; border: 1px solid #cecece; border-radius: .25px; background: #fff; margin-right: 1.0rem; vertical-align: top; }
